body{
	padding:0;
}

#android-container{
	margin:0px auto;
	display: block;
	width: 500px;
	height: 600px;
	position: relative;
	
}

#android-left-eye{
	top: 90px;
    left: 170px;
    width: 26px;
    height: 26px;
    border-radius: 20px;
    background-color: #FFF;
    position: absolute;

    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#android-right-eye{
	top: 90px;
    left: 300px;
    width: 26px;
    height: 26px;
    border-radius: 20px;
    background-color: #FFF;
    position: absolute;
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#android-left-ear{
	position: absolute;
    width: 12px;
    height: 69px;
    margin-top: 29px;
    background-color: #A4CA39;
    left: 160px;
    top: -35px;
    border-radius: 36px;
    transform: rotate(-36deg);
    transform-origin: bottom;
    animation-name: twitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
#android-right-ear{
	position: absolute;
    width: 12px;
    height: 69px;
    margin-top: 29px;
    background-color: #A4CA39;
    left: 337px;
    top: -31px;
    border-radius: 36px;
    transform: rotate(36deg);
	
}
#android-head{
	left: 100px;
    position: absolute;
    width: 300px;
    height: 147px;
    border-radius: 50% / 100%;
    background-color: #A4CA39;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: auto;
    top: 32px;
}
#android-body{
	position: absolute;
    width: 300px;
    height: 280px;
    margin-top: 10px;
    background-color: #A4CA39;
    margin: auto;
    top: 187px;
    left: 100px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
}

#android-left-arm{
	position: absolute;
    width: 69px;
    height: 220px;
    margin-top: 29px;
    background-color: #A4CA39;
    left: 20px;
    top: 170px;
    border-radius: 36px;
}


#android-right-arm{
	position: absolute;
    width: 69px;
    height: 220px;
    margin-top: 29px;
    background-color: #A4CA39;
    left: 410px;
    top: 170px;
    border-radius: 36px;
}

#android-left-leg{
	position: absolute;
    width: 69px;
    height: 235px;
    margin-top: 29px;
    background-color: #A4CA39;
    left: 161px;
    top: 334px;
    border-radius: 36px;

}
#android-right-leg{
	position: absolute;
    width: 69px;
    height: 235px;
    margin-top: 29px;
    background-color: #A4CA39;
    left: 260px;
    top: 334px;
    border-radius: 36px;
	
}



@keyframes blink{
   
    90%{
        top: 90px;        
        height: 26px;
        border-radius: 20px;
       
    }
    95%{
        top: 101px;       
        height: 12px;
        border-radius: 26px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
       

    }
    96%{
        top: 101px;       
        height: 5px;
        border-radius:0;
    }
     100%{
        top: 90px;        
        height: 26px;
        border-radius: 20px;
        
    }
}


@keyframes twitch{

    0%{
        transform:rotate(-36deg);
    }
    5%{
         transform:rotate(-38deg);
    }
    10%{
        transform:rotate(-34deg);
    }
    50%{
        transform:rotate(-20deg);

    }
    100%{
        transform:rotate(-36deg);
    }
}